/* Mixins */

// Border Radius
@mixin border-radius($radius) {
-moz-border-radius:			$radius;
-webkit-border-radius:		$radius;
-ms-border-radius:			$radius;
border-radius:				$radius;
};

// Transitions
@mixin transition($transition) {
-moz-transition:			$transition;
-o-transition:				$transition;
-webkit-transition:			$transition;
transition:					$transition;
};

@mixin vertical-align($position: fixed) {
position:					$position;
top:						50%;
-webkit-transform:			translateY(-50%);
-ms-transform:				translateY(-50%);
transform:					translateY(-50%);
}

@mixin remove-vertical-align($position: fixed) {
position:					$position;
top:						auto;
-webkit-transform:			none;
-ms-transform:				none;
transform:					none;
}
